.vertical-line {
  width: 1px;           /* xəttin qalınlığı */
  height: 100px;        /* xəttin hündürlüyü */
  background-color: #ffffff; /* xəttin rəngi */
 margin-left: 40px;

}

.container{
    display: flex;
   background-color: rgba(0, 0, 0, 0.712);
   padding: 40px;
  align-items: center;
}

ul{
 list-style: none; 
  padding-left: 40px;
   padding-right: 40px;
}

ul li a{
   color: aliceblue;
    text-decoration: none;
   
}


.copy{
  color: #ffffff;
margin-left: 40px;
font-size: 22px;
}

